mixin custom-toggle(settings)
  button(type="submit" class="custom-toggle custom-toggle--" + settings.typeClass)&attributes(attributes)
    if(settings.checked)
      input.visually-hidden(type=settings.type id=settings.typeFor name=settings.name value=settings.value checked)
    else
      input.visually-hidden(type=settings.type id=settings.typeFor name=settings.name value=settings.value)
    label(for=settings.typeFor) !{settings.text}
      if (settings.info)
        .custom-toggle__info
    if (settings.secondText)
      label(for=settings.typeForSecond) !{settings.secondText}
    if (settings.inputError)
      .custom-toggle__error!=settings.inputError
    if block
      block
